<style>
nav.public {
  display: none;
}
</style>

<h1>Exhibits</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Year</th>
    <th></th>
    <th>Artist</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Categories</th>
  </tr>

  <% for exhibit in @exhibits %>
  <tr>
    <td><a href="/admin/exhibits/<%= exhibit.id%>"><%= exhibit.title%></a></td>
    <td>|</td>
    <td><%= exhibit.year%></td>
    <td>|</td>
    <td><a href="/admin/artists/<%= exhibit.artist_id %>"><%= exhibit.artist_name%></a></td>
    <td>|</td>
    <td><a href="/admin/exhibits/type/<%= exhibit.type_id %>"><%= exhibit.type_name%></a></td>
    <td>|</td>

    <td>
      <% array = exhibit.categories()%>
      <% for member in array %>
      <a href="/admin/exhibits/category/<%= member.id%>"><%= member.category%></a>
      <% end %>
    </td>
  </tr>
  <%end%>
  </table>
  <div class="button">
  <form method="get" action="/admin/exhibits/new">
    <input type="submit" value="New Exhibit"/>
  </form>
</div>
