<style>
nav.public {
  display: none;
}
</style>

<h1>Categories</h1>

<table>
  <tr>
    <th>Category</th>
    <th></th>
    <th>Exhibit Count</th>
    <th></th>
    <th>Edit</th>
    <th></th>
    <th>Delete</th>
  </tr>

  <% for category in @categories %>
  <tr>
    <td><%= category.category%></td>
    <td>|</td>
    <td><a href="/admin/exhibits/category/<%= category.id %>"><%= category.exhibits.count%></td>
          <td>|</td>
          <td>
      <form method="get" action="/admin/categories/<%= category.id%>/edit">
        <input type="submit" value="Modify Category"/>
      </form>
    </td>
        <td>|</td>
    <td>
      <form method="post" action="/admin/categories/<%= category.id%>/delete">
        <input type="submit" value="Delete Category"/>
      </form>
    </td>
  </tr>
  <%end%>
</table>

<div class="button">
  <form method="get" action="/admin/categories/new">
    <input type="submit" value="New Category"/>
  </form>
</div>
