<style>
nav.admin {
  display: none;
}
</style>

<h1>Artists</h1>

<div class="visit_container">

<% for artist in @artists %>
<div class="visit">
  <div>
    <img src="/images/artists/<%= artist.name.downcase%>.jpg" width="280" height="330" title="<%=artist.name%> Portrait" alt="Portrait of Artist">
  </div>
  <div>
    <p><a href="/artists/<%= artist.id%>"><%= artist.name%></a></p>
    <p>Date of Birth: <%= artist.dob%></p>
    <a href="/exhibits/artist/<%= artist.id %>">See All exhibits by Artist</a>
  </div>
</div>
<% end %>
</div>
