<style>
nav.public {
  display: none;
}
</style>

<form method="get" action="/admin/exhibits/artist/<%= @artist.id%>">
  <p>Name: <%=@artist.name%></p>
  <p>Date of Birth: <%=@artist.dob%></p>

  <input type="submit" value="Exhibits by Artist"/>
</form>
<form method="get" action="/admin/artists/<%= @artist.id%>/edit">
  <input type="submit" value="Edit Artist"/>
</form>
<form method="post" action="/admin/artists/<%= @artist.id%>/delete">
  <input type="submit" value="Delete Artist"/>
</form>
