<style>
nav.admin {
  display: none;
}
</style>

<h1>Exhibits Filtered by Type: <%= @type%></h1>

<div class="exhibit_container">

<% for exhibit in @exhibits%>
<div class="exhibit">
  <div>
<a href="/exhibits/<%= exhibit.id%>"><img src="/images/exhibits/<%= exhibit.title.downcase%>.jpg"  title="<%=exhibit.title%>" alt="Exhibit Picture"></a>
</div>
  <br></br>
<div class="text">

<tr>
  <td><a href="/exhibits/<%= exhibit.id%>"><%= exhibit.title%></a></td>
  <td>|</td>
  <td><a href="/artists/<%= exhibit.artist_id %>"><%= exhibit.artist_name%></a></td>
</div>
</div>
<% end %>

</div>
